{% extends "base.html" %}

{% block content %}

<div class = "container-fluid text-center">
    <div class="row text-center">
        <div class="col" style="padding-top: 10%;">
            <h1 style="color: #ffffff;">Original Image</h1>
            <img src="{{ path  }}" alt="">
        </div>
        <div class="col" style="padding-top: 10%; ">
            <h1 style="color: #ffffff;">Box Blurred Image</h1>
        <img src="/media/images/output.jpg" alt="">
        </div>
</div>

<!-- <p>{{ path }}</p> -->

{% endblock %}