{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h2 style="color: #ffffff;">You entered the following image</h1>
    </div>
    <div class="align-center" style="padding-top: 5%">
        <img src="{{ obj.data.url }}" class="mx-auto d-block img-fluid" alt="">
    </div>
</div>
<div class="container text-center" style="padding-bottom: 15%; padding-top: 5%;">
    <h2 style="color: #ffffff;">Please select an operation</h2>
    <div class="row text-center">
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="boxblur"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Box Blur</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="gaussblur"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Gaussian Blur</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="sharp"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Sharpen</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="edgedetect"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Edge Detect</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="resize"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Resize</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="rotate"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Rotate</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="compress"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Compress</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="emboss"><button type="button"  style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Emboss</button></a>
        </div>
        <div class="col-lg-4 col md-6 mb-r" style="padding: 4%;">
            <a href="custom"><button type="button" style="font-size: 30px; width: 300px;" class ="btn btn-primary btn-lg" >Custom</button></a>
        </div>

    </div>
</div>

{% endblock %}