{% extends 'base.html' %}

{% block content %}

<!-- <div class="row align-items-center" style="padding-top: 3%;">
    <div class="col">
        <a href="bilin"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 6%;">BILINEAR</h3></div></a>        
    </div>
    <div class="col">
        <a href="bicub"><div class="container text-center" style="background-color: #161b21;"><h4 class="text-white" style="padding: 6%;">BICUBIC</h3></div></a>        
    </div>
</div> -->

<form action={% url 'resized' %} method="GET" style="padding-top: 15%;">
    <div class = "row text-center">
    <label class="col" style="color: #ffffff;">
        X-Scale
        <input type="text" name="bilinx">
    </label>
    <label class="col" style="color: #ffffff;">
        Y-Scale
        <input type="text" name="biliny">
    </label>
    <br>
    
</div>
    <div class="container text-center" style="padding-top: 4%;">
        <input type="submit" method="get" class="btn btn-primary btn-large">
    </div>
</form>
{% endblock %}