{% extends "base.html" %}

{% block content %}

<div class = "container-fluid">
    <div class="row">
        <div class="col" style="padding-top: 10%;">
            <h1 style="color: #ffffff;">Original Image</h1>
            <img src="{{ path  }}" alt="">
        </div>
        <div class="col" style="padding-top: 10%;">
            <h1 style="color: #ffffff;">Resized Image(Bilinear)</h1>
        <img src="/media/images/output.jpg" alt="">
        </div>
        <div class="col" style="padding-top: 10%;">
            <h1 style="color: #ffffff;">Resized Image(Bicubic)</h1>
        <img src="/media/images/output1.jpg" alt="">
        </div>
    </div>
</div>

<!-- <p>{{ path }}</p> -->

{% endblock %}